* {
    /* background-color: green; */
    font-family: sans-serif;
    margin: 0px;
    /* outline: none; */
    text-decoration: none;
    text-decoration-line: none;
}
*:focus {
    outline: none !important;
}

.title:hover {
    text-decoration-line: underline;
    text-decoration-color: #ffc108;
}

#aboutcont {
    border: solid green 4px;
}

/* .navbar.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top {
    border: solid blue 4px;


} */

/* .card-deck{
    background-image: url("lines.png") !important;
  background-position: right bottom;
  background-repeat: no-repeat;
 
} */

.card-img-top {
    filter: grey; /* IE6-9 */
    -webkit-filter: grayscale(80%);
    opacity: 0.2;
    transition: 0.8s;
}

.overlay:hover {
    transition: 0.8s;
    background-color: none;
    opacity: 1;
    filter: none; /* IE6-9 */
}

input.border-0.border-contact.form-control {
    border-bottom: 2px black solid !important;
    transition: 0.4s;
}

input.border-0.border-contact.form-control:hover {
    /* background-color: #FFC108;
    opacity: 0.6; */
    transform: scale(1.1);
    transition: 0.4s;
}

textarea.border-0.border-contact.form-control {
    border-bottom: 2px black solid !important;
    transition: 0.4s;
}

textarea.border-0.border-contact.form-control:hover {
    /* background-color: #FFC108;
      opacity: 0.6; */

    transform: scale(1.1);
    transition: 0.4s;
}

.fadeInHook {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.fadeInHook.is-visibleHook {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.pt-0.tandc.btn.btn-link {
    text-decoration: none;
    color: black;
}

.pt-0.tandc.btn.btn-link:hover {
    text-decoration: underline black;
}

textarea:focus,
input:focus {
    outline: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
    /* color: #fff; */
    border-color: #ffc108 !important;
    background-color: #ffc108 !important;
}

.custom-control-input:checked ~ .custom-control-label::after {
    /* color: #fff; */
    border-color: #ffc108 !important;
    background-color: #ffc108 !important;
}

.modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    border: none !important;
}

.border-0.border-contact.rounded-0.form-control:focus {
    /* outline: none !important; */
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pt-0.tandc.btn.btn-link:focus,
.pt-0.tandc.btn.btn-link:active {
    /* border: #ffc108; */
    /* border-color: inherit; */
    /* outline: none !important; */
    -webkit-box-shadow: none;
    box-shadow: none;
}
